* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-family : 'DM Sans', sans-serif;
    font-family : 'Fredoka', sans-serif;
    font-family : 'Roboto', sans-serif; ;
}


.container {
    max-width: 100%;
    margin: 0 auto;
}

.container-medium {
    max-width: 1200px;
    margin: 0 auto;    
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

    /* intestazione-pagina */

.debug [class^='col'] {
	min-height: 100px;
	/* padding: 10px; */
    border: 1px dashed black;
 } 



.card {
    display: flex;
    flex-wrap: wrap;

}
.card_body {
    justify-content: space-between;
    align-items: center;
    /* height: 80px; */
    padding: 10px;
    overflow: hidden;

}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.header-list {
    display: flex;
    align-items: center;

}

.nav-button {
    padding: 10px;
}

img {
    /* display: block; */
    max-width: 100%;
}

.click-button {
    line-height: 40px;
    display: inline-block;
    background-color: #0061FF;
    padding: 0 12px;
    color: white;
    text-align: center;
    white-space: nowrap;
}

/* inizio sezione 1 */

.section-1 {
    height: 800px;
    background-color: #B4D0E7;
}

.col-12 {
    flex-basis: 100%;
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

h1 {
    font-size: 75px;
    padding: 70px 0px;
    line-height: 90px;
}

.description-hero {
    line-height: 25px;
    font-size: 18px;
    padding-bottom: 40px;
}

.hero-button {
    margin-bottom: 40px;
    display: inline-block;
}

.hero-icon {
    font-size: 60px;
}

/* inizio section 2 */

.section-2 {
    padding-top: 80px;
}

.card-section-2 {
    display: flex;
    flex-direction: column;
}

.second-title {
    font-size: 40px;
}

.point-item-1 {
    padding: 40px 0;
    display: inline-block;
    font-size: 18px;
}

.point-item-2 {
    margin-left: 50px;
}

/* inizio lista piano di acquisto */

.col--4 {
    flex-basis: calc(((100% / 12) * 4) - 25px);
}

.card-list {
    justify-content: space-between;
}

.buy-product {
    text-decoration: underline;
    color: #0061FF;
}

.collon {
    margin-bottom: 40px;
    border: 1px solid rgb(163, 163, 163);

}

.buy-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.buy-list-button {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 25px 0 25px;
}


h5 {
    border-bottom: 1px solid rgb(163, 163, 163);
    padding: 12px 0;
    text-align: center;
}

h3 {
    font-size: 25px;
    margin: 20px 0;
}

.month {
    color: rgb(163, 163, 163);
    display: block;
    margin: 15px 0 55px 0;
}

.collon-4 {
    flex-grow: 1;

}

.card-divider {
    padding: 20px;
    
}

.forth-card {
    display: flex;
    justify-content: space-between;
}

.office-button {
    padding-top: 20px;
}

.description-team {
    margin-top: 20px;
    font-size: 18px;
}

.list-detail {
    display: flex;
    gap: 10px;
    align-items: baseline;
}


/* inizio sezione 3 */

.section-3 {
    padding: 120px 0;
}
.partner-button {
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid rgb(163, 163, 163);
    box-shadow: -1px 1px 1px 1px #888888;
    margin-top: 40px;
}

.partner-text {
    padding: 50px;
}

/* inizio sezione 4 */

.section-4 {
    padding-bottom: 140px;
}

.title-section-4 {
    margin-bottom: 35px;
}

.card-section-4 {
    padding: 20px;
}

.image {
    width: 100%;
}

.user-info-text {
    padding-top: 160px;
}

.user-info-text > h2 {
    margin-bottom: 40px;
}

/* inizio sezione 5 */

.debug [class^='brand-logo'] {
	min-height: 100px;
	padding: 10px;
    border: 1px dashed black;
 } 

.brand-logo {
    width: calc(100% / 6);
}

.brand-logo-big {
    width: calc(100% / 3);
    height: 640px;
}

.logo-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.uni-logo {
    width: 320px;
    height: 320px;
    padding: 40px;
    background-color: red;
}

.designit-logo {
    width: 320px;
    height: 320px;
    padding: 40px;
    background-color: rgb(61, 52, 127);
}

/* inizio sezione 6 */

.section-6 {
    height: 360px;
    background-color: #B4D0E7;
}

.card-section-6 {
padding-top: 150px;
}

.title-section-6 {
    font-size: 42px;
    color: #61082B;
}

.bottom-button {
    background-color: white;
    color: black;
    display: inline-block;
    /* margin-left: 120px; */
}

.button-card {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

/* footer-sezione-1 */

.footer-1 {
    padding: 140px;
}

.footer-title {
    margin-bottom: 50px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question > p  {
    font-size: 18px;
    font-weight: bold;
}

.arrow-down {
    margin: 40px;
    font-weight: bold;
    font-size: 18px;

}

/* footer-sezione-2 */


.debug [class^='footer-card'] {
	min-height: 100px;
	/* padding: 10px; */
    border: 1px dashed black;
 } 


.footer-2 {
    background-color: black;
    height: 570px;
    padding-top: 130px ;
}

.footer-card {
    width: calc(100% / 5);
}

.footer-card-body {
    justify-content: space-between;
}

.title-footer-2 {
    font-size: 22px;
    margin-bottom: 25px;
    display: inline-block;
    color: white;
}

.footer-2-list > li {
    font-size: 18px;
    line-height: 40px;
    color: white;
}

.language-button {
    color: white;
    padding: 40px 0;
}

.line {
    color: white;
    margin-top: 60px;
    display: inline-block;
}