* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-family : 'DM Sans', sans-serif;
    font-family : 'Fredoka', sans-serif;
    font-family : 'Roboto', sans-serif; ;
}


.container {
    max-width: 100%;
    margin: 0 auto;
}

.container-medium {
    max-width: 1200px;
    margin: 0 auto;    
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

    /* intestazione-pagina */

.debug [class^='col'] {
	min-height: 100px;
	/* padding: 10px; */
    border: 1px dashed black;
 } 



.card {
    display: flex;
    flex-wrap: wrap;

}
.card_body {
    justify-content: space-between;
    align-items: center;
    /* height: 80px; */
    padding: 10px;
    overflow: hidden;

}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.header-list {
    display: flex;
    align-items: center;

}

.nav-button {
    padding: 10px;
}

img {
    display: block;
    max-width: 100%;
}

.click-button {
    line-height: 40px;
    display: block;
    background-color: #0061FF ;
    padding: 0 12px;
    color: white;
    text-align: center;
}

/* inizio sezione 1 */

.section-1 {
    height: 800px;
    background-color: #B4D0E7 ;
}

.col-12 {
    flex-basis: 100%;
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

h1 {
    font-size: 75px;
    padding: 70px 0px;
    line-height: 90px;
}

.description-hero {
    line-height: 25px;
    font-size: 18px;
    padding-bottom: 40px;
}

.hero-button {
    margin-bottom: 40px;
    display: inline-block;
}

.hero-icon {
    font-size: 60px;
}

/* inizio section 2 */

.section-2 {
    padding-top: 80px;
}

.card-section-2 {
    display: flex;
    flex-direction: column;
}

.second-title {
    font-size: 22px;
}

.point-item-1 {
    padding: 40px 0;
    display: inline-block;
    font-size: 18px;
}

.point-item-2 {
    margin-left: 50px;
}

/* inizio lista piano di acquisto */

.col--4 {
    flex-basis: calc(((100% / 12) * 4) - 50px);
}



.buy-product {
    text-decoration: underline;
    color: #0061FF;
}

.collon {
    margin-right: 50px;
    margin-bottom: 40px;
    border: 1px solid rgb(163, 163, 163);

}

.buy-list {
    margin-bottom: 30px;
}

.buy-list > * {
    margin-bottom: 20px;
}

h5 {
    border-bottom: 1px solid rgb(163, 163, 163);
    padding: 12px 0;
    text-align: center;
}

h3 {
    font-size: 25px;
    margin: 20px 0;
}

.month {
    color: rgb(163, 163, 163);
    display: block;
    margin: 15px 0 55px 0;
}

.collon-4 {
    flex-grow: 1;

}

.card-divider {
    padding: 20px;
    
}

.forth-card {
    display: flex;
    justify-content: space-between;
}

.office-button {
    width: 255px;
    padding-top: 20px;
}

.description-team {
    margin-top: 40px;
}


/* inizio sezione 3 */

.section-3 {
    padding: 120px 0;
}
.partner-button {
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid rgb(163, 163, 163);
    box-shadow: -1px 1px 1px 1px #888888;
    margin-top: 40px;
}

.partner-text {
    padding: 25px;
}