* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-family : 'DM Sans', sans-serif;
    font-family : 'Fredoka', sans-serif;
    font-family : 'Roboto', sans-serif; ;
}


.container {
    max-width: 100%;
    margin: 0 auto;
}

.container-medium {
    max-width: 1200px;
    margin: 0 auto;    
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

    /* intestazione-pagina */

.debug [class^='col'] {
	min-height: 100px;
	/* padding: 10px; */
    border: 1px dashed black;
 } 


.nav-body {
    height: 80px;

}

.card {
    display: flex;
    flex-wrap: wrap;

}
.card_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px;

}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.header-list {
    display: flex;
    align-items: center;

}

.nav-button {
    padding: 10px;
}

img {
    display: block;
    max-width: 100%;
}

.click-button {
    line-height: 40px;
    display: inline-block;
    background-color: #0061FF ;
    padding: 0 12px;
    color: white;
    text-align: center;
}

/* inizio sezione 1 */

.section-1 {
    height: 800px;
    /* width: 150px; */
    /* display: inline-block; */
    background-color: #B4D0E7 ;
}

.col-12 {
    flex-basis: 100%;
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

h1 {
    font-size: 75px;
    padding: 70px 0px;
    line-height: 90px;
}

.description-hero {
    line-height: 25px;
    font-size: 18px;
    padding-bottom: 40px;
}

.hero-button {
    margin-bottom: 40px;
}

.hero-icon {
    font-size: 60px;
}

/* inizio section 2 */

.section-2 {
    padding-top: 80px;
}

.card-section-2 {
    display: flex;
    flex-direction: column;
}

.second-title {
    font-size: 22px;
}

.point-item-1 {
    padding: 40px 0;
    display: inline-block;
    font-size: 18px;
}

.point-item-2 {
    margin-left: 50px;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.card-divider {
    padding: 0 50px;
}

.buy-product {
    text-decoration: underline;
    color: #0061FF;
}

.collon {
    padding: 0 25px;
    
}

.buy-list {
    line-height: 45px;
}

h5 {
    border: 1px solid;
    padding: 15px;
    text-align: center;
}